@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

hr {
    height: 0.1px;
    background-color: #00AEFF;
    border: none;
}

header {
    width: 100%;
}

.nav-pills .nav-link {
    color: #000000;
    margin: 1px;
}

.nav-pills .nav-link.active {
    background-color: #00AEFF;
    color: #ffffff;
}

.outline {
    font-family: 'Roboto Slab', serif;
}

/*--
mark {
    background-color: #40c2ff;
    color: #ffffff;
}
--*/

.btn {
    margin: 0.5em;
    border-radius: 0%;
}

.btn-success {
    border-color: #ffffff;
    background-color: #00AEFF;
    color: #ffffff;
}

.btn-success:hover {
    border-color: #00AEFF;
    background-color: #ffffff;
    color: #00AEFF;
}

.quote-text {
    font-family: 'Roboto Slab', serif;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #00AEFF;
}

.accordion-button.collapsed {
    color: #ffffff;
    background-color: #808080;
}